[Unit]
Description=rolfsound-web dashboard
After=network.target rolfsound-core.service

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/rolfsound-control
ExecStart=/home/pi/.local/bin/python main.py
Restart=on-failure
RestartSec=5
StandardOutput=append:/var/log/rolfsound-control.log
StandardError=append:/var/log/rolfsound-control.log

[Install]
WantedBy=multi-user.target
